/* Стили для изображения в блоке .MyPhoto */
.MyPhoto img {
    width: 20%; /* Устанавливаем максимальную ширину изображения в пределах родительского контейнера */
    height: auto; /* Автоматическое подстройка высоты для сохранения пропорций */
    display: block; /* Убираем лишние пробелы под изображением */
    margin: 0 auto; /* Выравниваем изображение по центру */
    border: 6px solid black; /* Добавляем черную границу толщиной 6 пикселей */
    border-radius: 25%; /* Закругляем углы изображения на 25% от ширины */
}

/* Стили для блока .information */
.information {
    width: 25%; /* Задаем ширину блока */
    background-color: #d3d3d3; /* Устанавливаем цвет фона */
    border: 5px dashed white; /* Добавляем пунктирную белую границу толщиной 5 пикселей */
    border-radius: 30px; /* Закругляем углы блока на 30 пикселей */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Задаем шрифт текста */
    padding: 0.5%; /* Задаем внутренний отступ блока */
    font-size: larger; /* Устанавливаем размер шрифта как "larger" */
    margin-top: -150px; /* Задаем отрицательный отступ сверху */
}

/* Стили для блока .information1 */
.information1 {
    width: 25%; /* Задаем ширину блока */
    background-color: #d3d3d3; /* Устанавливаем цвет фона */
    border: 5px dashed white; /* Добавляем пунктирную белую границу толщиной 5 пикселей */
    border-radius: 30px; /* Закругляем углы блока на 30 пикселей */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Задаем шрифт текста */
    padding: 15px; /* Задаем внутренний отступ блока */
    margin-left: auto; /* Выравниваем блок влево */
    margin-right: 0; /* Сбрасываем правый отступ */
    margin-top: -320px; /* Задаем отрицательный отступ сверху */
    font-size: larger; /* Устанавливаем размер шрифта как "larger" */
}

/* Стили для изображения в блоке .instagram */
.instagram img {
    width: 20%; /* Устанавливаем ширину изображения */
    position: absolute; /* Позиционируем абсолютно относительно ближайшего позиционированного предка */
    bottom: 0; /* Размещаем изображение внизу блока */
    left: 50%; /* Выравниваем изображение по центру по горизонтали */
    transform: translateX(-50%); /* Корректируем позицию изображения на половину его собственной ширины влево */
}
